//Variables
$field-color1: #cef9f2;
$field-color2: #c6dfcc;
$field-color3: #ffddd2;
$field-color4: #ff6991;
$field-color5: #655a7c;
$field-color6: #f2cc39;

// sizes
// $field-height: 65px;
// $field-border-radius: 8px;
