body {
  width: 100vw;
  height: 100vh;
  // border: 2px yellowgreen dashed;
  background-color: rgba(211, 211, 211, 0.13);
}
#header__container {
  border-bottom: 1px lightgray solid;
  background-color: white;
}
.header {
  margin: auto;
  // border: 2px red dotted;
  width: 59rem;
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: white;
  // position: relative;
  nav ul {
    // border: 2px blue dotted;

    display: flex;
    justify-content: space-around;
    width: 16rem;
  }
  nav ul li {
    // border: 2px darkturquoise dotted;

    display: flex;
    // justify-content: space-between;
  }
}

.mainContainer {
  // margin: 2% auto;
  // border: 2px red dashed;
  width: 99vw;
  // height: 29.6rem;
  height: 92vh;
}

.mainHeader {
  // border: 0.12rem lightgray dotted;
  margin: 2.3rem auto;
  // display: flex;
  // justify-items: center;
  // align-items: center;
  width: 59rem;

  height: 28.3rem;
  // height: 92vh;
}
//                                     === Hero Section ===
.heroSection {
  // border: 2px palevioletred dotted;
  display: flex;
  width: 100%;
  height: 50%;
}
.heroLogo {
  // border: 2px goldenrod dashed;
  width: 40%;
  height: 90%;
}
.heroInformation {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.heroLogoInfo {
  border: 2px crimson dashed;
  width: 100%;
  height: 6rem;
  ul {
    display: flex;
    justify-content: space-between;
    // display: inline;
    list-style-type: none;

    #logotext {
      border: 2px violet dashed;
      font-size: 2rem;
    }
  }
}

.heroNumbers {
  // border: 2px lawngreen dashed;
  height: 70%;
  width: 54%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-self: center;
}
.heroInfo {
  // border: 2px dodgerblue dashed;
  // margin: auto;
  display: flex;
  // justify-content: flex-start;
  // align-self: center;
  width: 100%;
  height: 15rem;
  ul {
    list-style-type: none;
    font-weight: 400;
    font-size: large;
  }
  #heroBold {
    font-weight: bold;
  }
  #heroInfoLastLine {
    display: flex;
    margin: 2% auto;
    align-items: center;
    flex-direction: row;
    font-size: small;
  }
  #likes {
    padding-left: 1%;
    font-size: small;
    color: black;
  }
  span {
    color: grey;
    font-size: small;
  }
}

//                                      === SubHeader ===
.subHeader {
  // border: 2px deeppink dotted;
  // margin-top: 15rem;
  // display: flex;
  // justify-content: center;
  width: 100%;
  height: 12rem;
  ul {
    // border: 2px turquoise dotted;
    @include flex-center;
    flex-direction: row;
    height: 12rem;
    list-style-type: none;
  }
  li {
    // border: 2px springgreen dotted;
    width: 9rem;
    @include flex-center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.4rem;
    font-weight: bold;
    font-size: 0.9rem;
  }
}
//                                      === Gallery ===

.galleryContainer {
  border-top: 0.12rem lightgray solid;
  margin: auto;
  // display: flex;
  // justify-items: center;
  // align-items: center;
  width: 59rem;
  height: 7rem;
}
.linkGallery {
  // border: 2px gray double;
  margin-top: 0.2rem;
  @include flex-center;
  // display: flex;
  // justify-content: center;
  width: 100%;
  height: 2.5rem;
  ul {
    // border: 2px violet dotted;
    // margin-top: -0.9rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 32rem;
    height: 2rem;
    // display: inline;
    list-style-type: none;
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }
  li {
    // border-top: 1px black solid;
    margin-top: -0.3rem;

    @include flex-center;
    gap: 0.3rem;
    font-weight: bold;
    font-size: 0.9rem;

    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    // width: 5rem;
    // padding-left: 0.1rem;
    color: lightgray;
    // opacity: 0;
  }

  #aGLBorder {
    margin-top: -0.1rem;
    border-top: 1px black solid;
    height: 3rem;
    @include flex-center;
  }
  #activeGalleryLink {
    // margin-top: -0.3rem;
    // padding-top: 1.3rem;

    // border-top: 1px black solid;
    color: black;
    // padding-bottom: 1.3rem;
  }
  .gallreyLinkImage {
    margin-top: -0.1rem;
    width: 1.2rem;
    // height: 1rem;
  }
}
.photosgallery {
  // border: 2px rosybrown dotted;
  // @include flex-center;
  display: flex;
  // justify-content: space-between;
  gap: 2rem;
  // align-items: center;
  flex-flow: row wrap;
  // flex-wrap: wrap;
  // margin-top: -1rem;
  // height: 50rem;
  // width: 100%;
  opacity: 1;

  // &:hover {
  //   background-color: rgba(0, 0, 0, 0.7);
  //   opacity: 0.5;
  // }
  li {
    // border: 2px rgb(163, 39, 39) dashed;
    position: relative;
    width: 17.5rem;
    height: 17.5rem;
    margin: 0.3rem;
    list-style-type: none;
    width: 30%;
    // &:hover {
    //   border: 2px rgb(47, 255, 255) solid;
    //   background: rgba(0, 0, 0, 0.6);
    //   opacity: 0.5;

    //   // position: absolute;
    //   // top: 0;
    //   // left: 0;
    // }
  }
  .image__overlay {
    // border: 2px rgb(47, 255, 255) solid;
    position: absolute;
    top: 0;
    left: 0;
    // padding-top: -5rem;
    // margin-top: -1rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // width: 100;

    opacity: 0;

    &:hover {
      // margin-top: -15rem;
      // background-color: rgba(0, 0, 0, 0.7);
      opacity: 1;
      transition: 0.5s;
    }
    .image__title {
      // border: 2px rgb(122, 112, 150) solid;
      display: flex;
      justify-content: flex-end;
      gap: 0.3rem;
      width: 30%;
      // padding-left: 3rem;
      .likeonImage {
        // background: black;
        width: 1.3rem;
      }
    }
    .image__comments {
      // border: 2px rgb(122, 112, 150) solid;
      width: 10%;
      display: flex;
      justify-content: flex-start;
      width: 30%;
      gap: 0.3rem;

      .commentonImage {
        width: 1.3rem;
      }
      // padding-right: 3rem;
    }
  }
}

#photogallery {
  // border: 2px greenyellow solid;
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // background-color: rgba(0, 0, 0, 0.6);
  // display: flex;
  // align-items: center;
  // justify-content: space-evenly;
  // color: white;
  width: 100%;

  // list-style-type: none;
}
