body {
  width: 100vw;
  height: 100vh;
  border: 2px yellowgreen dashed;
}
.header {
  // margin: 0 auto;
  border: 2px red dotted;
  width: 100%;
  height: 3.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // position: relative;
}

.mainContainer {
  border: 2px red dashed;
  width: 100%;
  // height: 29.6rem;
  height: 92vh;
}

.mainHeader {
  border: 2px cornflowerblue dashed;
  margin: auto;
  // display: flex;
  // justify-items: center;
  // align-items: center;
  width: 59rem;

  height: 28.3rem;
  // height: 92vh;
}
//                                     === Hero Section ===
.heroSection {
  border: 2px palevioletred dotted;
  display: flex;
  width: 100%;
  height: 50%;
}
.heroLogo {
  border: 2px goldenrod dashed;
  width: 40%;
  height: 90%;
}
.heroInformation {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.heroLogoInfo {
  border: 2px crimson dashed;
  width: 100%;
  height: 6rem;
}
.heroNumbers {
  border: 2px lawngreen dashed;
  height: 70%;
}
.heroInfo {
  border: 2px dodgerblue dashed;
  // margin: auto;
  display: flex;
  // justify-content: flex-start;
  // align-self: center;
  width: 100%;
  height: 15rem;
}

//                                      === SubHeader ===
.subHeader {
  border: 2px deeppink dotted;
  // margin-top: 15rem;
  // display: flex;
  // justify-content: center;
  width: 100%;
  height: 12rem;
}
.galleryContainer {
  border: 2px forestgreen dashed;
  margin: auto;
  // display: flex;
  // justify-items: center;
  // align-items: center;
  width: 59rem;
  height: 7rem;
}
.linkGallery {
  border: 2px gray double;
  margin-top: -1rem;
  // display: flex;
  // justify-content: center;
  width: 100%;
  height: 2rem;
}
.photosgallery {
  border: 2px rosybrown dotted;
  margin-top: -1rem;
  height: 6rem;
}
