// .header {
//   @include flex-center;
// }

.header li {
  display: inline;
}
.header ul {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

h1 {
  font-size: medium;
}
input[type="text"] {
  border: 1px solid grey;
  width: 200px;
  height: 1.8rem;
  font-size: 1.1rem;
}
